{% extends "base.html" %}

{% block title %}
{{ profile.display_name }}'s Profile | TripTrack
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            {% if user == user_account %}
                {% if is_editor_or_superuser %}
                    <a href="{% url 'edit_panel' %}" class="btn btn-sm btn-secondary">Edit panel</a>
                {% endif %}
                <a href="{% url 'profile_update' %}" class="btn btn-sm btn-secondary"> <i class="fa-solid fa-pen"></i> Edit Profile</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4"><strong>{{ profile.display_name }}</strong></h1>
            <p class="text-muted">Username: {{ user_account.username }}</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7">
            <h4>About me</h4>
            <p class="profile-bio">{{ profile.bio }}</p>
        </div>
        <div class="col-md-5 text-center">
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile picture" class="img-fluid rounded-circle profile_picture">
            {% else %}
                <img src="https://triptrackbucket.s3.eu-north-1.amazonaws.com/media/profile_default.jpg"
                     alt="Default profile picture"
                     class="img-fluid rounded-circle profile_picture">
            {% endif %}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-left">My trips</h2>
        </div>
    </div>

    <div class="row">
        {% if entries %}
            {% for entry in entries %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ entry.entry_name }}</h5>
                            <p class="card-text">{{ entry.description|slice:":300" }}...</p>
                            <p>
                                {% for i in "12345" %}
                                    {% if i|add:"0" <= entry.rating %}
                                        <span><i class="fa-solid fa-star yellow-star"></i></span>
                                    {% else %}
                                        <span><i class="fa-regular fa-star yellow-star"></i></span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <a href="{% url 'entry_detail' entry.pk %}" class="btn btn-primary">View Trip</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12 text-center mb-4">
                {% if user == user_account %}
                <p>You haven't written any trips yet. Let's fix this.</p>
                <a href="{% url 'entry_create' %}" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-pen"></i> Write my first trip
                </a>
                {% else %}
                <p>This user hasn't written any trips yet.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
