{% extends "base.html" %}

{% block title %}
{{ entry.entry_name }} | TripTrack
{% endblock %}

{% block content %}
<div>
    <div class="card shadow-lg">
        <div class="card-header text-left">
            <h1>{{ entry.entry_name }}</h1>
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0">
                By
                {% if entry.author.profile.profile_picture %}
                    <img src="{{ entry.author.profile.profile_picture.url }}" alt="Profile picture"
                         class="img-fluid rounded-circle profile_picture_small">
                {% else %}
                    <img src="https://triptrackbucket.s3.eu-north-1.amazonaws.com/media/profile_default.jpg"
                         alt="Default profile picture"
                         class="img-fluid rounded-circle profile_picture_small">
                {% endif %}
                {{ entry.author.profile.display_name }}
                (<a href="{% url 'profile' entry.author.username %}">{{ entry.author.username }}</a>)
            </p>
            {% if request.user == entry.author %}
                <div class="d-flex">
                    <a href="{% url 'entry_update' entry.pk %}" class="mr-3"><i class="fa-solid fa-pen"></i> Edit</a>
                    <a href="{% url 'entry_delete' entry.pk %}"><i class="fa-solid fa-trash"></i> Delete</a>
                </div>
            {% endif %}
        </div>

        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-8">
                    <h5><strong>Description:</strong></h5>
                    <p>{{ entry.description }}</p>
                    <h5><strong>Visited Places:</strong></h5>
                    <div class="mb-3">
                        {% for place in entry.place.all %}
                            <p>{{ place.place }} ({{ place.country }})</p>
                        {% empty %}
                            <p>No places visited yet.</p>
                        {% endfor %}
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            {% if entry.arrival_date %}
                                <h5><strong>Arrival Date:</strong></h5>
                                <p>{{ entry.arrival_date }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if entry.departure_date %}
                                <h5><strong>Departure Date:</strong></h5>
                                <p>{{ entry.departure_date }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            {% if entry.arrival_date and entry.departure_date %}
                                <h5><strong>Stayed For:</strong></h5>
                                <p>{{ stayed_for }} days</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            {% if entry.cost %}
                                <h5><strong>Cost:</strong></h5>
                                <p>{{ entry.cost }} {{ entry.currency }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if weather_icon_list %}
                                <h5><strong>Weather:</strong></h5>
                                <div>
                                    {% for icon in weather_icon_list %}
                                        <i class="fa-solid fa-{{ icon }}" title="{{ icon }}"></i>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            {% if transport_icon_list %}
                                <h5><strong>Transport:</strong></h5>
                                <div>
                                    {% for icon in transport_icon_list %}
                                        <i class="fa-solid fa-{{ icon }}" title="{{ icon }}"></i>
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-end">
                    <h5><strong>Rating:</strong></h5>
                    <div>
                        <p>
                            {% for i in "12345" %}
                                {% if i|add:"0" <= entry.rating %}
                                    <span><i class="fa-solid fa-star fa-2xl yellow-star"></i></span>
                                {% else %}
                                    <span><i class="fa-regular fa-star fa-2xl yellow-star"></i></span>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-md-12">
                    <div class="d-inline">
                        {% for hashtag in entry.hashtag.all %}
                            <span class="badge bg-warning d-inline-block mr-2">#{{ hashtag.hashtag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'entries' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

<div class="row mb-3 mt-5">
    <div class="col-md-12">
        <div class="d-flex flex-wrap">
            {% for image in entry.image_set.all %}
                <div class="card m-2 img-entry">
                    <a href="{{ image.image.url }}" data-lightbox="entry-images" data-title="{{ image.description }}">
                        <img src="{{ image.image.url }}" alt="{{ image.description }}" class="card-img-top">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if request.user == entry.author %}
    <div class="container text-center">
        <a class="btn btn-secondary" href="{% url 'image_upload' entry.pk %}">Manage images</a>
    </div>
    {% endif %}
</div>

{% endblock %}
