{% extends "base.html" %}

{% block title %}
Delete Entry | Travel Journal
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-start vh-100">
    <div class="card p-4 mt-5 custom-crd">
        <h3 class="text-center mb-4">Delete Entry</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group text-center">
                <p>Are you sure you want to delete your entry, <strong>{{ entry.entry_name }}</strong>? This action cannot be taken back. </p>
            </div>
            <div class="d-flex justify-content-between">
                <a href="{% url 'entry' entry.pk %}" class="btn btn-outline-dark w-100 me-2">Back</a>
                <input id="id_submit" type="submit" value="Yes" class="btn btn-danger w-100">
            </div>

        </form>
    </div>
</div>
{% endblock %}