{% extends "base.html" %}

{% block content %}

<h1 class="display-4">Popular trips</h1>

<form method="GET" action="" class="mt-4">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="arrival_date">Arrival date</label>
            <input type="date" name="arrival_date" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="departure_date">Departure date</label>
            <input type="date" name="departure_date" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="rating">Rating</label>
        <select name="rating" class="form-control">
            <option value="">-- Vyberte hodnocení --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Filter</button>
</form>


<hr/>

<!-- Výsledky filtrování -->
<div class="container bg-white p-4 mt-4 border rounded shadow-sm">
    <h3 class="text-secondary">Trips</h3>

    <div class="row">
        {% if entries %}
            {% for entry in entries %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ entry.entry_name }}</h5>
                            <p class="card-text">{{ entry.description|slice:":100" }}...</p>
                            <a href="#" class="btn btn-primary">View Trip</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No trips found matching your criteria.</p>
        {% endif %}
    </div>
</div>

{% endblock %}