{% extends "base.html" %}

{% block content %}
<div>
    <div class="card shadow-lg">
        <div class="card-header text-left">
            <h1>{{ entry.entry_name }}</h1>
            <p>By {{ entry.author.profile.display_name }} (<a href="{% url 'profile' entry.author.username %}">{{ entry.author.username }}</a>)</p>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-8">
                    <h5><strong>Description:</strong></h5>
                    <p>{{ entry.description }}</p>

                    <h5><strong>Country:</strong></h5>
                    <div>
                        {% for country in entry.country.all %}
                            {{ country.country }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            No country
                        {% endfor %}
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5><strong>Arrival Date:</strong></h5>
                            <p>{{ entry.arrival_date }}</p>
                        </div>
                        <div class="col-md-6">
                            <h5><strong>Departure Date:</strong></h5>
                            <p>{{ entry.departure_date }}</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5><strong>Stayed For:</strong></h5>
                            {% if stayed_for %}
                                <p>{{ stayed_for }} days</p>
                            {% else %}
                                <p>Departure date not set</p>
                            {% endif %}
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5><strong>Cost:</strong></h5>
                            <p>{{ entry.cost }} {{ entry.currency }}</p>
                        </div>
                        <div class="col-md-6">
                            <h5><strong>Weather:</strong></h5>
                            <div>
                                {% for weather in entry.weather.all %}
                                    {% if weather.type == "overcast" %}
                                        <i class="fa-solid fa-cloud" title="Overcast"></i>
                                    {% elif weather.type == "rain" %}
                                        <i class="fa-solid fa-cloud-rain" title="Rain"></i>
                                    {% elif weather.type == "sun" %}
                                        <i class="fa-solid fa-sun" title="Sun"></i>
                                    {% elif weather.type == "storm" %}
                                        <i class="fa-solid fa-bolt" title="Storm"></i>
                                    {% elif weather.type == "wind" %}
                                        <i class="fa-solid fa-wind" title="Wind"></i>
                                    {% elif weather.type == "snow" %}
                                        <i class="fa-solid fa-snowflake" title="Snow"></i>
                                    {% elif weather.type == "fog" %}
                                        <i class="fa-solid fa-smog" title="Fog"></i>
                                    {% elif weather.type == "hail" %}
                                        <i class="fa-solid fa-cloud-meatball" title="Hail"></i>
                                    {% elif weather.type == "chill" %}
                                        <i class="fa-solid fa-temperature-low" title="Chill"></i>
                                    {% elif weather.type == "hot" %}
                                        <i class="fa-solid fa-temperature-high" title="Hot"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5><strong>Transport:</strong></h5>
                            <div>
                                {% for transport in entry.transport.all %}
                                    {% if transport.type == "plane" %}
                                        <i class="fa-solid fa-plane" title="Plane"></i>
                                    {% elif transport.type == "train" %}
                                        <i class="fa-solid fa-train" title="Train"></i>
                                    {% elif transport.type == "metro" %}
                                        <i class="fa-solid fa-train-subway" title="Metro"></i>
                                    {% elif transport.type == "tram" %}
                                        <i class="fa-solid fa-train-tram" title="Tram"></i>
                                    {% elif transport.type == "car" %}
                                        <i class="fa-solid fa-car" title="Car"></i>
                                    {% elif transport.type == "bus" %}
                                        <i class="fa-solid fa-bus" title="Bus"></i>
                                    {% elif transport.type == "cable_car" %}
                                        <i class="fa-solid fa-cable-car" title="Cable car"></i>
                                    {% elif transport.type == "on_foot" %}
                                        <i class="fa-solid fa-person-walking" title="On foot"></i>
                                    {% elif transport.type == "boat" %}
                                        <i class="fa-solid fa-sailboat" title="Boat"></i>
                                    {% elif transport.type == "bicycle" %}
                                        <i class="fa-solid fa-bicycle" title="Bicycle"></i>
                                    {% elif transport.type == "motorcycle" %}
                                        <i class="fa-solid fa-motorcycle" title="Motorcycle"></i>
                                    {% elif transport.type == "horse" %}
                                        <i class="fa-solid fa-horse" title="Horse"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-end">
                    <h5><strong>Rating:</strong></h5>
                    <div>
                            <p>
                                {% for i in "12345" %}
                                    {% if i|add:"0" <= entry.rating %}
                                        <span><i class="fa-solid fa-star fa-2xl" style="color: #FFD43B;"></i></span>
                                    {% else %}
                                        <span><i class="fa-regular fa-star fa-2xl" style="color: #FFD43B;"></i></span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                    </div>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-md-12">
                    <div class="d-inline">
                        {% for hashtag in entry.hashtag.all %}
                            <span class="badge bg-warning d-inline-block mr-2">#{{ hashtag.hashtag }}</span>
                        {% empty %}
                            <p>No hashtags</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <a href="{% url 'entries' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <h5><strong>Images:</strong></h5>
        <div class="d-flex flex-wrap">
            {% for image in entry.image_set.all %}
                <div class="m-2">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}" class="img-fluid rounded" style="max-width: 150px; height: auto;">
                    {% if image.description %}
                        <p>{{ image.description }}</p>
                    {% endif %}
                </div>
            {% empty %}
                <p>No images available</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
