{% extends "base.html" %}

{% block content %}
    <h1 class="display-4">Travel Journal home page</h1>
    <p>Co to je?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies tempor nulla ac facilisis. Fusce efficitur lorem sit amet arcu vulputate commodo. Praesent ligula ex, ullamcorper tempus nibh non, dapibus lobortis nisi. Fusce semper, nulla eu aliquam semper, arcu nunc sagittis nisl, et imperdiet risus lacus vitae metus. Pellentesque nunc massa, lacinia sed neque ut, commodo cursus erat. Fusce fermentum nibh sapien, nec scelerisque mi vulputate vitae. Integer ipsum ex, sagittis eu enim sed, tempor vulputate mauris.
    Etiam auctor non diam eget convallis. Phasellus vulputate ipsum in lacus laoreet venenatis. Aenean consectetur ipsum sed varius pellentesque. Sed nisl ligula, fringilla ut erat id, facilisis vestibulum turpis. Praesent feugiat scelerisque sollicitudin. Suspendisse mattis, elit at fringilla accumsan, ex metus iaculis turpis, sit amet scelerisque enim elit pulvinar velit. Aliquam cursus leo sit amet tincidunt ullamcorper. Quisque vitae dui dui. Nam a purus sit amet est finibus aliquet et sit amet purus.</p>
    <hr class="my-4">
    <p>Text</p>
{% endblock %}