body {
    background-image: url("/media/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    padding-bottom: 50px;
}

footer {
    margin-top: auto;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.img-entry {
    width: 18rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.img-entry:hover {
    transform: scale(1.02);
}

.entries-page-card {
    transition: transform 0.3s ease-in-out;
}

.entries-page-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.star-empty {
    color: #FFD43B;
}

.star-full {
    color: #FFD43B;
}

.custom-badge {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #5C92FF;
    color: white;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}


