<footer class="bg-light text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-6 mb-4">
        <section class="mb-4">
          <div><strong> Thank you for using TripTrack</strong></div>
          <div>
            Thank you for using TripTrack to capture your adventures. We're thrilled to be a part of your
            journey and help you document your special moments. Your support means the world to us, and we're always
            working to make your experience even better. Safe travels and happy journaling!
          </div>
          <div class="font-italic">
            All images displayed on this site are sourced externally, and I do not claim authorship.
            This website has been developed as a personal project for non-commercial purposes.
          </div>
        </section>
      </div>

      <div class="col-md-6 mb-4">
        <section class="">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Useful links</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="{% url 'signup' %}" class="text-primary">Sign Up</a>
                </li>
                <li>
                  <a href="{% url 'login' %}" class="text-primary">Login</a>
                </li>
                <li>
                  <a href="{% url 'faq' %}" class="text-primary">FAQ</a>
                </li>
                <li>
                  <a href="{% url 'contact' %}" class="text-primary">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="text-center p-3 footer-line">
    By Eliška and Adam, 2024
  </div>
</footer>
