.star-rating {
  direction: rtl;
  font-size: 1.5rem;
  display: inline-block;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
  font-size: 2rem;
  padding: 0 0.1em;
  cursor: pointer;
}

.star-rating input:checked ~ label {
  color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.filter {
    background-color: brown;
}